

.contentHeader {
    width: auto;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    background: white;
    height: 50px;
    padding: 0.5em 2em;
    box-sizing: border-box;
}

.centerContent {
    /* width: 100%; */
    min-width: 973.63px;
}

.send-icon{
    background: #168567;
    padding: 0.2em 1em;
    border-radius: 5px;
}
.send-icon:hover{
    background: #17a37e;
}
.contentFooter {
    bottom: 30px;
    margin: 0 1em;
    min-height: 133px;
}

.search-input{
    min-width: 900px;
    background: transparent;
    height: 30px;
    outline: none;
    border: none;
}

.input-area{
    /* width: 100%; */
    height: 100%;
}
.text-area{
    box-sizing: border-box;
    /* margin: 1em ; */
    border-radius: 15px;
    background: white;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0, 0.4);
}

.edit-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F8F8F8;
    padding: 0.2em 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 30px;
}

.note-area{
    outline: none;
    padding: 1em;
    color: black;
    border: none;
    min-width: 900px;
    /* min-height: 100px; */
}

.lower-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1em;
    min-height: 30px;
}

.lower-left-icons, .lower-right-icons{
    display: flex;
    flex-direction: row;
}

.sl-icon:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  
  .sl-icon{
    padding: 0.2em 0.6em;
  }
  