.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.container {
    display: flex;
    flex-direction: column;
}

.topHeader {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark-color);
    width: 100%;
    /* bottom: 0; */
    color: #ffffff;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    padding: 6px 3px
}

.mainArea {
    display: flex;
    top: 300px;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.leftSider {
    background: var(--primary-default-color);
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;

}



.menuItem:hover {
    background: var(--primary-dark-color);
}


.resizer {
    user-select: none;
    cursor: col-resize;
    height: 100%;
    width: 1px;
    background: gray;
}




.msgContent {
    overflow-y: scroll;
    height: 680px
}

.title {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    height: 50px;
    background: var(--primary-default-color);
    width: 100%;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.titleText {
    margin: 0 0.5em;
}
.editIcon {
    fill: var(--primary-default-color);
    padding: 5px;
}

.circle {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
}
